[run]
include =
    */webtest/*.py
omit =
    */tests*
    */docs/*.py
    */site-packages*
    */lib/python*
    */lib-python*
    */lib_pypy*
    */src*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    def parse_args

