name: Build and test

on:
    # Build on pushes to main
    push:
        branches:
            - main
        tags:
    # Build pull requests
    pull_request:

jobs:
    test:
        strategy:
            matrix:
                py:
                    - "3.9"
                    - "3.10"
                    - "3.11"
                    - "3.12"
                os:
                    - "ubuntu-latest"
                    - "windows-latest"
                    # - "macos-latest" pip crash on macos
                architecture:
                    - x64
                    - x86
                exclude:
                    # Linux and macOS don't have x86 python
                    - os: "ubuntu-latest"
                      architecture: x86
                    - os: "macos-latest"
                      architecture: x86

        name: "Python: ${{ matrix.py }}-${{ matrix.architecture }} on ${{ matrix.os }}"
        runs-on: ${{ matrix.os }}
        steps:
            - uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v5
              with:
                  python-version: ${{ matrix.py }}
                  enable-cache: true
            - name: Run tests
              run: uv run pytest

    coverage:
        runs-on: ubuntu-latest
        name: Validate coverage
        # Assume coverage is identical across supported versions of Python.
        # Choose the latest Python.
        steps:
            - uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v5
              with:
                  python-version: "3.12"
                  enable-cache: true
            - name: Run tests with coverage
              run: uv run pytest --cov
            - name: Check coverage
              run: uv run coverage report --show-missing --fail-under=95

    docs:
        runs-on: ubuntu-latest
        name: Build the documentation
        steps:
            - uses: actions/checkout@v4
            - name: Install uv
              uses: astral-sh/setup-uv@v5
              with:
                  python-version: "3.12"
                  enable-cache: true
            - name: Build docs
              run: uv run --group docs sphinx-build -W -E -b html docs docs/_build/html
